.feed{
    flex:6;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 250px;
    padding-right: 330px;
}
@media only screen and (max-width: 768px) {
    .feed{
        padding:0;
    }
  }