.topbarContainer{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    background-color:white;
    opacity:1;
    top:0;
    z-index: 9999;
}
.topbarLeft{
    flex:1;
    grid-area: topbarLeft;
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: forestgreen;
}
.topbarCenter{
    flex:5;
    background-color:white;
    border-radius: 20px;
    align-items: center;
    display: flex;
    grid-area:topbarCenter;
}
.searchbar{
    width: 100%;
    height: 30px;
    align-items: center;
    padding: auto;
    display: flex;
    background-color: rgb(169, 223, 233);
    border-radius: 20px;
}
.searchButton{
    margin-left: 10px;
}
.searchInput{
    border:none !important;
    width: 80%;
    outline: none;
    background-color: rgb(169, 223, 233);
}
.topbarRight{
    flex:4;
    display: flex;
    align-items: left;  
    margin-left: 10px;
}
.topbarLink{
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    color:white;
    background-color:gray;
    border-radius: 5px;
}
.topbarIcons{
    display: flex;
    grid-area: topbarIcons;
}
.topbarIconsItem{
    cursor: pointer;
    display: flex;
    margin: 5px;
    padding: 8px; 
    border-radius: 50px;
    color:black;
}
.topbarIconBadge{
    border-radius: 100%;
    padding: 2px;
    background-color: rgb(235, 79, 79);
    position: absolute;
    margin-left: 18px;
    font-size: 12px;
    display: flex;
    color: white;
}
.topbarIconsItem:hover {
    background-color: rgba(226, 216, 216, 0.692);
}
.topbarLink:hover{
    background-color: rgba(226, 216, 216, 0.692);
    border-radius: 10px;
}
.topbarImg{
    margin-left: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50px;
    object-fit: cover;
}
@media only screen and (max-width: 768px) {
    .topbarImg{
        display: none;
    }
    .topbarContainer{
        width: 100vw !important;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "topbarLeft topbarCenter"
        "topbarRight topbarIcons"
        ;
        align-items: center;
        width: 100vw;
    }
    .topbarRight{
        margin-left: 20px;
    }
    .searchbar{
        
        padding:0 5px 0 5px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .searchbar{
        width: 80%;
    }
  }