.rightbar{
    position:fixed;
    font-weight: bold;
    flex: 2;
    background-color:rgba(0, 0, 0, 0.05);
    height: 100% !important;
    padding: 20px;
    overflow-y: scroll;
    align-self: flex-end;
    width: 20vw;
    top: 50px;
    bottom:0;
}
.rightbarAd{
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    font-weight:normal;
}
.rightbarAdImg{
    width: 150px;
    height: 80px;
    border-radius: 10px;
    padding-right: 10px;
}
.birthdayContainer, .eventContainer{
    display: flex;
    padding-top: 10px;
}
.rightbarOnline{
    margin-bottom: 100px;
}
.rightbarOnlineUser{
    padding-top: 20px;
    display: flex;
}
.rightbarOnlineUserImg{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
    padding-right: 10px;
}
@media only screen and (max-width: 768px) {
    .rightbar{
        display: none;
    }
  }