*{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homeContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.feeds{
    margin-left:280px;
}
@media only screen and (max-width: 768px) {
    .homeContainer{
        width: 100%;
    }
    .feeds{
        margin-left:0px;
    }
    .feedx{
        margin: 0!important;
    }
  }